<!DOCTYPE html>
<html lang="en-IN">
<head>
    <meta charset="utf-8">
    <title>..::AIDE SOCIALE - LOGIN::..</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/toastr/toastr.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="css/skins/skin-blue.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
        <!--
            BODY TAG OPTIONS:
            =================
            Apply one or more of the following classes to get the
            desired effect
            |---------------------------------------------------------|
            | SKINS         | skin-blue                               |
            |               | skin-black                              |
            |               | skin-purple                             |
            |               | skin-yellow                             |
            |               | skin-red                                |
            |               | skin-green                              |
            |---------------------------------------------------------|
            |LAYOUT OPTIONS | fixed                                   |
            |               | layout-boxed                            |
            |               | layout-top-nav                          |
            |               | sidebar-collapse                        |
            |               | sidebar-mini                            |
            |---------------------------------------------------------|
        -->
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>AIDE SOCIALE</b>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Connectez vous pour acc&eacute;der &agrave; l'applicaiton</p>
            <form class="form center-block" name="login-form" id="login-form" action="/api/login" enctype="application/x-www-form-urlencoded" method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Login" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Password" id="password" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Connexion">
                </div>
            </form>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- bootstrap an JQuery dependencies-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="startbootstrap-sb-admin-2/dist/js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <!--AngularJS Dependencies-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!--App-->
    <script src="./js/login.app.js"></script>
    <script src="js/template.app.js"></script>
</body>
</html>