menu{
    padding-left: 0px;
    margin-top: 0px;
}
.panel-inverse{
    box-shadow: 1px 1px 12px #555;
}
.panel-inverse>.panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}
    .btn-edge {
    color: #000;
    background-color: #FFFFFF;
    border-color: #000000;
}
.btn-edge:hover {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #FFFFFF;
}
.table>thead>tr>th.milieu{
    vertical-align: middle;
}
.removed {
    background-color: #F44336;
    color: #ffffff;
}
.in-use {
    background-color: #4CAF50;
    color: #000000;
}
.loading{
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 999999999999999;
}
.gray-layout{
    background-color: rgba(0, 0, 0, 0.38);
    height: 100%;
    width: 100%;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0px;
}
thead{
    color: white;
    background-color: #3C8DBC;
}
.select2-container{
    width:100%;
}
.select2{
    width: 100%;
}
.select2-container--default .select2-selection--single {
    background-color: #F3F599;
    border: 1px solid #aaa;
    border-radius: 0px;
    height: 33px;
}