<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Gestion des charges
        <small>Articles charges utilis&eacute;s pour le param&eacute;trage des r&eacute;sidents</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="params"><i class="fa fa-dashboard"></i> Param&eacute;trages</a></li>
        <li class="active">Charges</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary box-solid" id="mainContainer">
            <div class="box-header with-border">
                <h3 class="box-title">Gestion des charges</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"  ng-show="!isHistoryEnabled" ng-click="loadData()">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body" id="app">
                <div class="panel panel-inverse" ng-show="isAddFormEnabled" id="addForm">
                    <div class="panel-heading">
                        Ajouter une charge
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" novalidate name="addForm">
                            <div class="form-group">
                                <label for="libelle">Libell&eacute;</label>
                                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="EXEMPLE : CAF" ng-model="nouvelleCharge.libelle" required>
                            </div>
                            <a class="btn btn-success" ng-click="addCharge(nouvelleCharge)" ng-hide="addForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                            <a ng-click="showOrHideAddForm()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                        </form>
                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table table-hover" ng-show="isHistoryEnabled">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>LIBELLE</th>
                            <th>PROFIL_CREATION</th>
                            <th>DATE_CREATION</th>
                            <th>PROFIL_SUPPRESSION</th>
                            <th>DATE_SUPPRESSION</th>
                            <th>ANCIEN ID</th>
                            <th>STATE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="charge in chargesHistory  | filter : searchQuery track by $index" ng-class="{'danger': charge.flag===0, 'success': charge.flag===1}">
                            <td>{{charge.id}}</td>
                            <td>{{charge.libelle}}</td>
                            <td>{{charge.profilCreation}}</td>
                            <td>{{charge.dateCreation}}</td>
                            <td>{{charge.profilSuppression}}</td>
                            <td>{{charge.dateSuppression}}</td>
                            <td>{{charge.ancienIdFk}}</td>
                            <td>{{charge.flag}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover" ng-show="!isHistoryEnabled">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>

                                <div class="input-group">
                                    <input type="text" class="form-control" id="libSearch" placeholder="libell&eacute;" ng-model="searchQuery.libelle">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="charge in charges  | filter : searchQuery track by $index">
                            <td>
                                <a ng-show="!charge.editionMode" class="btn btn-danger" ng-click="showConfirmation(charge)"><span class="glyphicon glyphicon-minus"></span></a>
                                <a class="btn btn-primary" ng-click="editCharge(charge)"><span class="glyphicon" ng-class="!charge.editionMode ? 'glyphicon-pencil' : 'glyphicon-ok'"></span></a>
                                <a class="btn btn-danger" ng-click="charge.editionMode = !charge.editionMode" ng-show="charge.editionMode"><span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                            <td>{{charge.id}}</td>
                            <td ng-show="!charge.editionMode">{{charge.libelle}}</td>
                            <td ng-show="charge.editionMode"><input type="text" ng-model="charge.libelle" class="form-control" placeholder="libelle" required></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a ng-click="showHistory()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Historique</a>
                    <a ng-click="showHistory()" ng-show="isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-list"></span> Donn&eacute;es en utilisation</a>
                    <a ng-click="showOrHideAddForm()" ng-show="!isAddFormEnabled && !isHistoryEnabled" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
<div class="modal" tabindex="-1" role="dialog" id="confirmationDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>&Ecirc;tes-vous s&ucirc;r de vouloir supprimer la chargee : ({{selectedCharge.libelle}}) ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-success" data-dismiss="modal" ng-click="deleteCharge(selectedCharge)"><span class="glyphicon glyphicon-ok"></span> </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->