<div class="form-group">
    <label>Famille des articles</label>
    <!--div class="input-group-btn">
        <button class="btn btn-primary" data-toggle="modal" data-target="#edition"><span class="glyphicon glyphicon-pencil"></span></button>
    </div-->
    <select class="form-control" ng-options="familleArticle as familleArticle.libelle for familleArticle in famillesArticles " ng-model="nouvelArticle.familleArticle"></select>
</div>
<!--div class="modal" tabindex="-1" role="dialog" id="edition">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edition des familles d'articles</h4>
            </div>
            <div class="modal-body">
                <familles-articles></familles-articles>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-folder-close"></span></a>
            </div>
        </div>
    </div>
</div-->