<section class="content-header">
    <h1>
        Accueil principal AIDE SOCIALE
        <small>Gestion des r&eacute;sidents pris en charge en Aide Sociale pour les p&eacute;rsonnes &acirc;g&eacute;es</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">Accueil</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    Accueil principal
</section>